@media (min-width: 620px) { // para poder achicar la imagen y que no colapce
  body {
    main {
      h2 {
          font-size: 18px;
      }

      section {
        div {
            
            img {
                width: 100%; 
                max-width: 620px;
                height: auto;
            }

            .tamaños {
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 18px;
                }
                ul {
                    li {
                        font-size: 18px;
                    }
                }
                ol {
                    li {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    }
  }
}