$color-Blanco: white;

footer {

  margin-top: -15px; /* Ajusta este valor para reducir el espacio */


  a {
    color: rgb(139, 20, 20);
    text-decoration: none;
  }

  h3 {
      color: $color-Blanco;
      font-style: italic;
      font-size: 2rem;
  }

  h4 {
    color: $color-Blanco;
  }

  .moverFooter {
    text-align: center;
  }

} //Colores y posicionamiento para el footer